# Extract

In [1]:
import pandas as pd
import json

### Extract Questions Json to Pandas DataFrame

In [2]:
json_file = 'Resources/JEOPARDY_QUESTIONS1.json'

In [3]:
questions_df = pd.read_json(json_file)
questions_df

,category,air_date,question,value,answer,round,show_number
0,HISTORY,2004-12-31,"'For the last 8 years of his life, Galileo was...",$200,Copernicus,Jeopardy!,4680
1,ESPN's TOP 10 ALL-TIME ATHLETES,2004-12-31,'No. 2: 1912 Olympian; football star at Carlis...,$200,Jim Thorpe,Jeopardy!,4680
2,EVERYBODY TALKS ABOUT IT...,2004-12-31,'The city of Yuma in this state has a record a...,$200,Arizona,Jeopardy!,4680
3,THE COMPANY LINE,2004-12-31,"'In 1963, live on ""The Art Linkletter Show"", t...",$200,McDonald\'s,Jeopardy!,4680
4,EPITAPHS & TRIBUTES,2004-12-31,"'Signer of the Dec. of Indep., framer of the C...",$200,John Adams,Jeopardy!,4680
...,...,...,...,...,...,...,...
216925,RIDDLE ME THIS,2006-05-11,'This Puccini opera turns on the solution to 3...,$2000,Turandot,Double Jeopardy!,4999
216926,"""T"" BIRDS",2006-05-11,'In North America this term is properly applie...,$2000,a titmouse,Double Jeopardy!,4999
216927,AUTHORS IN THEIR YOUTH,2006-05-11,"'In Penny Lane, where this ""Hellraiser"" grew u...",$2000,Clive Barker,Double Jeopardy!,4999
216928,QUOTATIONS,2006-05-11,"'From Ft. Sill, Okla. he made the plea, Arizon...",$2000,Geronimo,Double Jeopardy!,4999
216929,HISTORIC NAMES,2006-05-11,'A silent movie title includes the last name o...,None,Grigori Alexandrovich Potemkin,Final Jeopardy!,4999

### Extract Questions CSV to Pandas DataFrame

In [ ]:
questions_csv = 'Resources/questions.csv'

In [ ]:
questions_df1 = pd.read_csv(questions_csv)
questions_df1

### Extract Final Results CSV to Pandas DataFrame

In [ ]:
final_results_csv = 'Resources/final_results.csv'

In [ ]:
final_results_df = pd.read_csv(final_results_csv)
final_results_df

### Extract Contestants CSV to Pandas DataFrame

In [ ]:
contestants_csv = 'Resources/contestants.csv'

In [ ]:
contestants_df = pd.read_csv(contestants_csv)
contestants_df

# Transform

### Clean questions_df

In [ ]:
# Check data types of the columns
questions_df.dtypes

In [ ]:
# Rename 'show_number' column to 'game_id' to match other dataframes
questions_df = questions_df.rename(columns={"show_number": "game_id"})
questions_df.head(10)

In [ ]:
# Reorder columns so game_id is first and column order makes sense
questions_df = questions_df[['game_id', 'air_date', 'round', 'category', 'question', 'value', 'answer']]
questions_df.head()

In [ ]:
# Change air_date datatype to timedate
questions_df['air_date'] = questions_df['air_date'].astype('datetime64')
# Change 'none' to $0 in value column
# Change 'value' column data time to currency

In [ ]:
questions_df.head()

In [ ]:
questions_df.count()

In [ ]:
questions_df['value'].replace({'None':'$0'}, inplace=True)
questions_df

In [ ]:
contestants_df.count()

In [ ]:
contestants_df.dtypes